html {
  height: 100%;
  width: 100%;
  overscroll-behavior-x: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  letter-spacing: 3px;
  overflow-y: auto;
  position: relative;
  min-height: 100%;
  min-width: 100%;
  background-color: rgb(229, 222, 236);
}
