html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  letter-spacing: 1px;
  font-size: 19px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overscroll-behavior-x: none;
  overflow-x: hidden;
}
